pkgbase = linux-gvt-git
	pkgver = 4.11rc8
	pkgrel = 1
	url = http://www.kernel.org/
	arch = x86_64
	license = GPL2
	makedepends = xmlto
	makedepends = docbook-xsl
	makedepends = kmod
	makedepends = inetutils
	makedepends = bc
	makedepends = git
	optdepends = vhba-dkms
	options = !strip
	source = git+https://github.com/01org/gvt-linux.git#branch=gvt-staging
	source = config.x86_64
	source = linux-gvt-git.preset
	sha256sums = SKIP
	sha256sums = SKIP
	sha256sums = SKIP

pkgname = linux-gvt-git
	pkgdesc = The Linux kernel and modules (git version)
	install = linux.install
	depends = coreutils
	depends = linux-firmware
	depends = kmod
	depends = mkinitcpio>=0.7
	optdepends = crda: to set the correct wireless channels of your country
	provides = kernel26-gvt-git=4.11rc8
	conflicts = kernel26-gvt-git
	replaces = kernel26-gvt-git
	backup = etc/mkinitcpio.d/linux-gvt-git.preset

pkgname = linux-gvt-git-headers
	pkgdesc = Header files and scripts for building modules for Linux kernel (git version)
	provides = kernel26-gvt-git-headers=4.11rc8
	conflicts = kernel26-gvt-git-headers
	replaces = kernel26-gvt-git-headers

pkgname = linux-gvt-git-docs
	pkgdesc = Kernel hackers manual - HTML documentation that comes with the Linux kernel (git version)
	provides = kernel26-gvt-git-docs=4.11rc8
	conflicts = kernel26-gvt-git-docs
	replaces = kernel26-gvt-git-docs

